* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lägger till font */
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    overflow-x: hidden;
}

/* Stylear containern som kommer innehålla alla kolumner av objekt */
#scheduleContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 6px;
    padding: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 1000px;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

#searchText {
    font-size: 1.25em;
}

/* Ändrar textfärgen i placeholdern */
input::placeholder {
    color: grey;
}

/* Ändrar styles för sökbaren. Bl.a font-size, padding för att texten ska få utrymme, och border samt border-radius för estetiska skäl */
input {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    color: grey;
    margin-top: 10px;
    width: 100%;
    font-size: 1.25em;
    margin-bottom: 50px;
}

/* Ger kolumnerna dessa attribut för att kolumnerna ska vara radade bredvid varandra och inte staplas på varandra */
.first-column,
.second-column,
.third-column {
    display: inline-block;
    vertical-align: top;
}

p {
    font-size: 1.25em;
}

/* Ändrar styles på li-elementen från API:n */
li {
    list-style-type: none;
    margin: 30px 10px;
    font-size: 1.25em;

}

/* Lägger progression centrerad över dess element för estetiska skäl */
.third-column li {
    text-align: center;
}

.first-column {
    margin-right: 20px;
}

#firstHeader,
#secondHeader,
#thirdHeader {
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Då kolumnernas knapp är ett p-element ger jag de cursor:pointer för att de ska tolkas som en knapp */
#firstHeader:hover,
#secondHeader:hover,
#thirdHeader:hover {
    cursor: pointer;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid grey;
}

/* Media query >1400px */
@media screen and (min-width:1400px) {
    ul li {
        font-size: 1.5em;
    }

    /* Ger alla kolumn-headers större font-size för att urskilja dem */
    #scheduleContainer #firstHeader,
    #secondHeader,
    #thirdHeader {
        font-size: 1.75em;
    }

    h1 {
        font-size: 2.25em;
    }

    #searchText {
        font-size: 1.5em;
    }

    /* Gör texten inuti searchbaren större för att enklare synas */
    input::placeholder {
        font-size: 1.25em;
    }

    input {
        padding: 25px;
    }
}

/* Media query >1000px */
@media screen and (max-width:1000px) {

    /* Tar bort den minst relevanta kolumnen för att ge plats åt kursnamn och progression */
    .first-column {
        display: none;
    }
}

/* Media query >500px */
@media screen and (max-width: 500px) {
    #scheduleContainer {
        width: 100%;
        padding: 10px;
        margin-top: 30px;
        margin: 0 auto;
    }


    .colGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .colGrid li {
        font-size: 1.125em;
        margin: 20px 0;
        padding: 20px 0;
    }

    #scheduleContainer #secondHeader {
        font-size: 1.25em;
    }

    #scheduleContainer #thirdHeader {
        font-size: 1.25em;
        text-align: center;
    }






}